:root {
  --red-primary: #950E0E;
  --red-light: #FAECEC;
  --red-dark: #460202;
  --red-footer: #E5B1B1;
  --label-veg: #D9FFD9;
  --label-halal: #F1B8B8;
  --label-spicy: #FFD3B4;
}


.text-primary{
  color: var(--red-primary);
}

.bg-primary{
  background-color: var(--red-primary);
}

